{% autoescape false %}
    <p>Bonjour,</p><p>Une demande de réinitialisation de mot de passe a été effectuée pour le site
    pambe.com. veuillez cliquer sur le lien suivant : {{ url }}</p>
{% endautoescape %}
    