{% extends 'front/email/layout.html.twig' %}

{% block content %}
    <p>Bonjour,</p><p>Une demande de réinitialisation de mot de passe a été effectuée pour le site
    {{ app.request.getSchemeAndHttpHost() }}. Veuillez cliquer sur le lien suivant : {{ url }}</p>
{% endblock %}
    