            {% block footer %}
                <section class="footer-area bg-gradient-gray padding-top-100px padding-bottom-30px position-relative">
                    <span class="circle-bg circle-bg-1 position-absolute"></span>
                    <span class="circle-bg circle-bg-2 position-absolute"></span>
                    <span class="circle-bg circle-bg-3 position-absolute"></span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 responsive-column">
                                <div class="footer-item">
                                    <div class="footer-logo">
                                        <a href="{{ path('app_home') }}" class="foot-logo"><img src="{{ asset('assets/front/images/logo-black.png') }}" alt="logo"></a>
                                    </div><!-- end footer-logo -->
                                    <ul class="list-items contact-links pt-3">
                                        <li><span class="d-block text-color mb-1"><i class="la la-map mr-1 text-color-2"></i>Address:</span> 12345 Little Baker St, Melbourne</li>
                                        <li><span class="d-block text-color mb-1"><i class="la la-phone mr-1 text-color-2"></i>Phone:</span><a href="#">+ 61 23 8093 3400</a></li>
                                        <li><span class="d-block text-color mb-1"><i class="la la-envelope mr-1 text-color-2"></i>Email:</span><a href="#">listhub@gmail.com</a></li>
                                    </ul>
                                </div><!-- end footer-item -->
                            </div><!-- end col-lg-3 -->
                            <div class="col-lg-3 responsive-column">
                                <div class="footer-item">
                                    <h4 class="footer__title">Company</h4>
                                    <div class="stroke-shape mb-3"></div>
                                    <ul class="list-items">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Press</a></li>
                                        <li><a href="#">Investor Relations</a></li>
                                        <li><a href="#">Content Guidelines</a></li>
                                        <li><a href="#">Ad Choices</a></li>
                                    </ul>
                                </div><!-- end footer-item -->
                            </div><!-- end col-lg-3 -->
                            <div class="col-lg-3 responsive-column">
                                <div class="footer-item">
                                    <h4 class="footer__title">Discover</h4>
                                    <div class="stroke-shape mb-3"></div>
                                    <ul class="list-items">
                                        <li><a href="#">Listhub Project Cost Guides</a></li>
                                        <li><a href="#">The Local Listhub</a></li>
                                        <li><a href="#">Collections</a></li>
                                        <li><a href="#">Listhub Mobile</a></li>
                                        <li><a href="#">Listhub Blog</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div><!-- end footer-item -->
                            </div><!-- end col-lg-3 -->
                            <div class="col-lg-3 responsive-column">
                                <div class="footer-item">
                                    <h4 class="footer__title">Listhub for Business</h4>
                                    <div class="stroke-shape mb-3"></div>
                                    <ul class="list-items">
                                        <li><a href="#">Claim your Business</a></li>
                                        <li><a href="#">Advertise on Listhub</a></li>
                                        <li><a href="#">Add Restaurant</a></li>
                                        <li><a href="#">Business Support</a></li>
                                        <li><a href="#">Products for Businesses</a></li>
                                        <li><a href="#">Business Success Stories</a></li>
                                    </ul>
                                </div><!-- end footer-item -->
                            </div><!-- end col-lg-3 -->
                        </div><!-- end row -->
                        <div class="row pt-4 footer-action-wrap">
                            <div class="col-lg-4">
                                <h4 class="font-size-17 pb-3">Follow us on</h4>
                                <ul class="social-profile social-profile-styled">
                                    <li><a href="#" class="facebook-bg" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="lab la-facebook-f"></i></a></li>
                                    <li><a href="#" class="twitter-bg" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="lab la-twitter"></i></a></li>
                                    <li><a href="#" class="instagram-bg" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="lab la-instagram"></i></a></li>
                                    <li><a href="#" class="dribbble-bg" data-toggle="tooltip" data-placement="top" title="Dribble"><i class="la la-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-8">
                                <div class="footer-chosen-container user-chosen-select-container d-flex align-items-center justify-content-end">
                                    <div class="mr-2">
                                        <h4 class="font-size-17 pb-3">Languages</h4>
                                        <select class="user-chosen-select">
                                            <option value="1" selected>English</option>
                                            <option value="2">French</option>
                                        </select>
                                    </div>
                                    <div>
                                        <h4 class="font-size-17 pb-3">Countries</h4>
                                        <select class="user-chosen-select">
                                            <option value="1">Argentina</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-block-2 my-4"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="copy-right d-flex align-items-center justify-content-between">
                                    <p class="copy__desc">
                                        &copy; Copyright Pambe <script> document.write(new Date().getFullYear()); </script>.
                                    </p>
                                    <ul class="list-items term-list text-right">
                                        <li class="font-size-14"><a href="#">Terms & Conditions</a></li>
                                        <li class="font-size-14"><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div><!-- end copy-right -->
                            </div><!-- end col-lg-12 -->
                        </div><!-- end row -->
                    </div><!-- end container -->
                </section><!-- end footer-area -->
            {% endblock %}