{% extends 'front/professional/layout.html.twig' %}

{% block title %}{{ 'Besoins - '~ parent() }}{% endblock %} 

{% block pro_breadcrumb %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">Besoins</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
            <li>Besoins</li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block pro_content %}
    <section class="category-area section--padding">
        <div class="container">
            {% if needs|length > 0 %}
                <div class="row">
                    {% for need in needs %}
                        {% include "front/partials/professional/need.html.twig" with {need: need} %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12 pt-3 text-center">
                        {% do needs.setPageRange(4) %}
                        {{ knp_pagination_render(needs, 'front/partials/pagination.html.twig') }}   
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12 pt-3 text-center">
                        Aucune donnée à afficher pour le moment, merci de bien vouloir revenir plutard.  
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}