<div class="modal fade modal-container message-form" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center mh-bg-2">
                <h5 class="modal-title" id="messageModalTitle">Send a Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-times-circle"></span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-size-15 font-weight-medium pb-2">
                    <span class="text-color">To:</span> TechyDevs
                </p>
                <form method="post" class="form-box">
                    <div class="input-box">
                        <label class="label-text">Share a few details so we can get you in touch with the business</label>
                        <div class="form-group">
                            <span class="la la-pencil form-icon"></span>
                            <textarea class="message-control form-control" name="message" placeholder="Can you tell me about your services?"></textarea>
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="label-text d-block">Include your information
                            <span class="text-gray">or</span> <a class="text-color-2 login-btn" href="javascript:void(0)">Log in</a>
                        </label>
                        <label class="label-text">Email Address</label>
                        <div class="form-group">
                            <span class="la la-envelope-o form-icon"></span>
                            <input class="form-control form-control-styled" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="label-text">First Name</label>
                        <div class="form-group">
                            <span class="la la-user form-icon"></span>
                            <input class="form-control form-control-styled" type="text" name="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="btn-box">
                        <p class="font-size-13 font-weight-medium pb-2 line-height-16">We will send your information to the business to help get you a response.</p>
                        <button type="submit" class="theme-btn gradient-btn w-100">
                            Send a Message<i class="la la-arrow-right ml-2"></i>
                        </button>
                        <p class="font-size-13 font-weight-medium pt-1">By proceeding, you agree to our
                            <a href="terms-and-conditions.html" class="text-color-2">Terms of Service</a> and
                            <a href="privacy-policy.html"  class="text-color-2">Privacy Policy</a>.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>