{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Dashboard' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3">124 </span>Users
            </div>
            <div class="col-6 alert-success">
                <span class="display-3">159 </span>Services
            </div>
        </div>
    </div>
{% endblock %}
