            <div class="modal fade modal-container login-form" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header align-items-center mh-bg">
                            <h5 class="modal-title" id="loginModalTitle">Hey, Welcome back!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="la la-times-circle"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" class="form-box">
                                <div class="input-box">
                                    <label class="label-text">Email</label>
                                    <div class="form-group">
                                        <span class="la la-user form-icon"></span>
                                        <input class="form-control form-control-styled" type="text" name="text" placeholder="Enter email address">
                                    </div>
                                </div>
                                <div class="input-box">
                                    <label class="label-text">Password</label>
                                    <div class="form-group">
                                        <span class="la la-lock form-icon"></span>
                                        <input class="form-control form-control-styled" type="text" name="text" placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="input-box d-flex align-items-center justify-content-between pb-4 user-action-meta">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="keepMeSignedChb">
                                        <label for="keepMeSignedChb" class="font-size-14">Keep me signed in</label>
                                    </div>
                                    <a href="javascript:void(0)" class="margin-bottom-10px lost-pass-btn font-size-14">Lost Password?</a>
                                </div>
                                <div class="btn-box">
                                    <button type="submit" class="theme-btn gradient-btn w-100">
                                        <i class="la la-sign-in mr-1"></i> Login to Account
                                    </button>
                                    <p class="sub-text-box text-right pt-1 font-weight-medium font-size-14">
                                        New to Listhub? <a class="text-color-2 signup-btn" href="javascript:void(0)">Create account</a>
                                    </p>
                                </div>
                                <div class="icon-element font-size-16 font-weight-semi-bold mt-5 mb-4 mx-auto">
                                    OR
                                </div>
                                <div class="text-center">
                                    <p class="font-size-15 font-weight-medium">Login with your social network</p>
                                    <ul class="social-profile social-profile-colored py-3">
                                        <li>
                                            <a href="#" class="google-bg mx-1" data-toggle="tooltip" data-placement="top" title="Google">
                                                <i class="lab la-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="facebook-bg mx-1" data-toggle="tooltip" data-placement="top" title="Facebook">
                                                <i class="lab la-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter-bg mx-1" data-toggle="tooltip" data-placement="top" title="Twitter">
                                                <i class="lab la-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="instagram-bg mx-1" data-toggle="tooltip" data-placement="top" title="Instagram">
                                                <i class="lab la-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>