<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Pambe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block meta %}
        {% endblock %}

        <link rel="icon" href="{{ asset('assets/front/images/favicon.png') }}">

        <title>{% block title %}{{ website_title }}{% endblock %}</title>
        
        {% embed "front/partials/stylesheets.html.twig" %}{% endembed %}
    </head>
    <body>
        {% block body %}
            {% block loader_container %}
                <div class="loader-container">
                    <div class="loader-ripple">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            {% endblock %}

            {% embed "front/partials/header.html.twig" %}{% endembed %}

            {% block content %}{% endblock %}
           
            {% embed "front/partials/footer.html.twig" %}{% endembed %}

            {% block back_to_top %}
                <div id="back-to-top">
                    <i class="la la-arrow-up" title="Go top"></i>
                </div>
            {% endblock %}

            {% include "front/modal/login.html.twig" %}

            {% include "front/modal/register.html.twig" %}

            {% include "front/modal/resetpassword.html.twig" %}
            
        {% endblock %}

        {% embed "front/partials/javascripts.html.twig" %}{% endembed %}
    </body>
</html>