/*---------------------------------------------

Author:         IziPresta
Author Email:   contact@izipresta.com
description: Our custom pambe CSS

----------------------------------------------*/
.social-profile-colored li .whatsapp-bg:hover{
    background-color: #25D366;
}
.social-profile-colored li .linkedin-bg:hover{
    background-color: #0e76a8;
}
.social-profile-colored li .youtube-bg:hover{
    background-color: #FF0000;
}
.social-profile-colored li .pinterest-bg:hover{
    background-color: #E60023;
}
.login-and-signup-wrap .theme-btn{
    font-size: 14px;
    line-height: 37px;
}
@media only screen and (max-width: 479px) {
    .user-chosen-select-container{
        margin-top: 5px;
    }
}
@media only screen and (min-width: 480px) {
    .user-chosen-select-container{
        margin-left: 5px;
    }
}
.contact{
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 7px;
}
.menu{
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-top: 13px
}
.breadcrumb-area {
    padding-top: 300px;
}
.section-padding, .section--padding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-heading .sec__title{
    margin-bottom: 5px;
}
.mega-menu-item h6{
    margin-left: 24px;
    margin-bottom: 9px;
}
.main-menu ul li .mega-menu{
    left: -10px;
}
.menu {
    margin-left: 30px;
}
.card-item .card-title i.green {
    color: #40CC6F;
}
.card-item .card-title i.red {
    color: #e4354c;
}
.pro-cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 0;
    padding-bottom: 17%; 
    position: relative;
}

.user-profile{
    width: 10%;
    height: 58.85%; 
    position: absolute;
    left: 15%;
    bottom: 4%;
}
.profile-name{
    position: absolute;
    left: 27%;
    bottom: 13%;
    display: inline-block;
}
.reviews{
    margin-top: 20px;
    margin-bottom: 20px;
}
.service{
    padding: 0 10px 15px 10px !important;
}
.service .card-title{
    font-size: 18px;
}
.user-chosen-select-container {
    margin-left: 0;
}
.gallery{
    padding: 5px 0 5px 0;
}
.expdesc{
    background-clip: text;
    color: #717073;
}
.qual{
    padding-top: 20px;
}
.list-items li {
    margin-bottom: 10px;
}
.breadcrumb-content .list-items li {
    margin-bottom: 0;
}
.block-card-body .accordion-item .card-body {
    padding: 0 20px 10px 20px;
}
.block-card-body .accordion-item .card-body .list{
    padding-bottom: 10px;
}
.responsive-column .mini-list-card .mini-list-img img {
    width: 100px;
    height: 75px;
}
.responsive-column .mini-list-card .mini-list-img {
    margin-bottom: 13px;
}
.sidebar-widget, .card-item {
    margin-bottom: 20px;
}
.social-profile-styled li .whatsapp-bg {
    color: #25D366;
}
.social-profile-styled li .linkedin-bg {
    color: #0e76a8;
}
.social-profile-styled li .pinterest-bg {
    color: #E60023;
}
.social-profile-styled li .whatsapp-bg:hover {
    background-color: #25D366;
    color: #fff;
}
.social-profile-styled li .linkedin-bg:hover {
    background-color: #0e76a8;
    color: #fff;
}
.social-profile-styled li .pinterest-bg:hover {
    background-color: #E60023;
    color: #fff;
}

