/*---------------------------------------------

Author:         IziPresta
Author Email:   contact@izipresta.com
description: Our custom pambe CSS

----------------------------------------------*/
.social-profile-colored li .whatsapp-bg:hover{
    background-color: #25D366;
}
.social-profile-colored li .linkedin-bg:hover{
    background-color: #0e76a8;
}
.social-profile-colored li .youtube-bg:hover{
    background-color: #FF0000;
}
.social-profile-colored li .pinterest-bg:hover{
    background-color: #E60023;
}
.login-and-signup-wrap .theme-btn{
    font-size: 14px;
    line-height: 37px;
}
@media only screen and (max-width: 479px) {
    .user-chosen-select-container{
        margin-top: 5px;
    }
}
@media only screen and (min-width: 480px) {
    .user-chosen-select-container{
        margin-left: 5px;
    }
}
.contact{
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 7px;
}
.menu{
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-top: 13px
}
.breadcrumb-area {
    padding-top: 300px;
}
.section-padding, .section--padding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-heading .sec__title{
    margin-bottom: 5px;
}
.mega-menu-item h6{
    margin-left: 24px;
    margin-bottom: 9px;
}
.main-menu ul li .mega-menu{
    left: -10px;
}
.menu {
    margin-left: 30px;
}
.card-item .card-title i.green {
    color: #40CC6F;
}
.card-item .card-title i.red {
    color: #e4354c;
}