/*---------------------------------------------

Author:         IziPresta
Author Email:   contact@izipresta.com
description: Our custom pambe CSS

----------------------------------------------*/
.social-profile-colored li .whatsapp-bg:hover{
    background-color: #25D366;
}
.social-profile-colored li .linkedin-bg:hover{
    background-color: #0e76a8;
}
.social-profile-colored li .youtube-bg:hover{
    background-color: #FF0000;
}
.social-profile-colored li .pinterest-bg:hover{
    background-color: #E60023;
}
.login-and-signup-wrap .theme-btn{
    font-size: 14px;
    line-height: 37px;
}
@media only screen and (max-width: 479px) {
    .user-chosen-select-container{
        margin-top: 5px;
    }
}
@media only screen and (min-width: 480px) {
    .user-chosen-select-container{
        margin-left: 5px;
    }
}
.contact{
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 7px;
}
.menu{
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-top: 13px
}
.breadcrumb-area {
    padding-top: 300px;
}
.section-padding, .section--padding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-heading .sec__title{
    margin-bottom: 5px;
}
.mega-menu-item h6{
    margin-left: 24px;
    margin-bottom: 9px;
}
.main-menu ul li .mega-menu{
    left: -10px;
}
.menu {
    margin-left: 30px;
}
.card-item .card-title i.green {
    color: #40CC6F;
}
.card-item .card-title i.red {
    color: #e4354c;
}
.pro-cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 0;
    padding-bottom: 17%; 
    position: relative;
}

.user-profile{
    width: 10%;
    height: 58.85%; 
    position: absolute;
    left: 15%;
    bottom: 4%;
}
.profile-name{
    position: absolute;
    left: 27%;
    bottom: 13%;
    display: inline-block;
}
.reviews{
    margin-top: 20px;
    margin-bottom: 20px;
}
.service{
    padding: 0 10px 15px 10px !important;
}
.service .card-title{
    font-size: 18px;
}
.user-chosen-select-container {
    margin-left: 0;
}
.gallery{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 20%;
    padding-left: 0;
    position: relative;
}
.gallery .links{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #172844;
    width: 100%;
    padding: 5px;
    opacity: 0;
}
.gallery:hover .links{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.gallery .links a.edit{
    color: #7b68ee;
}
.gallery .links a.edit:hover{
    color: #9f8fff
}
.gallery .links a.delete{
    color: #9e1919;
}
.gallery .links a.delete:hover{
    color: #d21e1e;
}
.expdesc{
    background-clip: text;
    color: #717073;
}
.qual{
    padding-top: 20px;
}
.list-items li {
    margin-bottom: 10px;
}
.breadcrumb-content .list-items li {
    margin-bottom: 0;
}
.block-card-body .accordion-item .card-body {
    padding: 0 20px 10px 20px;
}
.block-card-body .card-body .list{
    padding-bottom: 10px;
}
.responsive-column .mini-list-card .mini-list-img img {
    width: 100px;
    height: 75px;
}
.responsive-column .mini-list-card .mini-list-img {
    margin-bottom: 13px;
}
.sidebar-widget, .card-item {
    margin-bottom: 20px;
}
.social-profile-styled li .whatsapp-bg {
    color: #25D366;
}
.social-profile-styled li .linkedin-bg {
    color: #0e76a8;
}
.social-profile-styled li .pinterest-bg {
    color: #E60023;
}
.social-profile-styled li .whatsapp-bg:hover {
    background-color: #25D366;
    color: #fff;
}
.social-profile-styled li .linkedin-bg:hover {
    background-color: #0e76a8;
    color: #fff;
}
.social-profile-styled li .pinterest-bg:hover {
    background-color: #E60023;
    color: #fff;
}
.height-250 {
    height: 250px;
}
.login, .register{
    margin: 0 auto;
    width: 450px;
    padding: 20px;
    background: #fff;
}
.breadcrumb-pro{
    text-align: center;
}
.breadcrumb-pro a{
    text-align: center;
    color: #34393e;
}
.breadcrumb-pro a.active{
    color: #7b68ee !important;
}
.profile.file-upload-wrap-2 .file-upload-input, .cover.file-upload-wrap-2 .file-upload-input{
    width: 195px;
}
.cover a img{
    width: 256px;
    height: auto;
}
.profile a img{
    width: 120px;
    height: auto;
}
.file-upload-wrap-2 label{
    margin-right: 10px;
}
.add-experience, .add-qualification, .add-certification{
    margin-top: -37px;
    font-size: 14px;
    line-height: 37px;
}
#experience .card, #qualification .card, #certification .card{
    margin-bottom: 20px;
}
#experience .card-body, #qualification .card-body, #certification .card-body {
    padding-bottom: 0;
}
#experience .form, #qualification .form, #certification .form{
    text-align: center;
    border-top: 1px solid #e3e3e3;
    padding-bottom: 6px;
}
#experience .form a, #qualification .form a, #certification .form a{
    color: #7b68ee !important;
}
#experience .form a:hover, #qualification .form a:hover, #certification .form a:hover{
    color: #7e74bb !important
}
#qualification_btn_add, #experience_btn_add, #certification_btn_add, #service_btn_add,
#qualification_btn_edit, #experience_btn_edit, #certification_btn_edit, #service_btn_edit, #gallery_btn{
    margin-left: 16px;
}   
.menu-locale{
    padding-left: 5px;
}
.menu-locale .locale{
    font-size: 14px;
    line-height: 37px;
    background: rgba(0, 0, 0, 0) !important;
} 
.menu-locale .locale:hover::before{
    opacity: 0 !important
} 
.main-locale .main-menu ul li {
    padding-top: 0 !important;
}
.menu-locale .dropdown-menu li a{
    color: #808996;
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: capitalize;
    padding: 5px 25px;
    font-weight: 500;
    position: relative;
    font-size: 15px;
}
.menu-locale .dropdown-menu li a:hover{
    color: #7b68ee;
}
#information_form_profile, #professional_form_profile, #gallery_form_videoType{
    text-align: center;
}
#information_form_profile label, #professional_form_profile label{ 
    margin-left: 5px;
    margin-right: 25px;
}
#gallery_form_videoType label{ 
    margin-left: 5px;
    margin-right: 10%;
}
@media only screen and (min-width: 992px) {
    .onglet .col-lg-2{
        -ms-flex: 0 0 14.28571428571429%;
        flex: 0 0 14.28571428571429%;
        max-width: 14.28571428571429%;
    }
}
.onglet .col-md-2{
    -ms-flex: 0 0 14.28571428571429%;
    flex: 0 0 14.28571428571429%;
    max-width: 14.28571428571429%;
}
#notification .sms, #notification .call, #notification .contact{
    color: orange;
}
.notif-title{
    font-size: 16px;
    color: #333f57;
    font-weight: 500;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
}
.review-bars-item {
    width: calc(100% - 30px);
}
.pro .gallery{
    padding-bottom: 15px;
}
.review-error{
    color: #b51d1d;
    font-size: 12px;
}
.badge, .badge-count{
    font-size: 14px;
    color: #7b68ee;
}
.badge:hover, .badge-count:hover{
    color: #9f8fff;
}
.error ul li{
    color: #b51d1d;
    font-size: 12px;
    list-style: none;
}
.error ul li:not(:last-child){
    margin-bottom: 5px;
}
.error ul li:before{
    content: "\2716";
    color: #b51d1d;
    margin-right: 5px;
}
.comments-list .comment-hidden{
    display: none;
}
.card-item .card-title {
    overflow: hidden;
}
.list--items-2 li span {
    width: 20px;
}
#available_link{
    color: #fff;
    margin-top: 20px;
    width: 100%;
}
.available-btn {
    background-color: #7b68ee; 
}
.absent-btn {
    background-color: #9e1919;
}
.absent-btn:hover, .available-btn:hover{
    color: rgba(255, 255, 255, 0.7);
}
.additional-wrapper{
    background-color: #333f57d0 !important;
}
.category-item:hover .cat-content .badge{
    color: #fff;
}
.need.file-upload-wrap .MultiFile-list .MultiFile-title{
    position: initial;
}
.main-menu ul li .need.dropdown-menu-item{
    width: 420px;
}
.hero-wrapper{
    padding-top: 240px;
}
.highlighted-categories {
    margin-top: 30px;
    z-index: 1;
}
.card-body .control{
    margin-top: 15px;
    text-align: center;
}
.list-items-style-2 li + li {
    display: flex;
}
.block-card-header.my-gallery{
    padding-bottom: 0;
}
.input-group.form-group{
    margin-bottom: 0;
}
.dropdown-menu-item.message, .dropdown-menu-item.notification{
    width: 350px !important;
}
.main-menu ul li .dropdown-menu-item li a{
    text-transform: none;
}
.bg-rgb-info{
    color: #17a2b8;
    background-color: #17a2b812;
}
.bg-rgb-info:hover{
    color: #17a2b8;
    background-color: #17a2b82e;
}
.info-box-layout-2, .info-box-layout-3 {
    text-align: center;
}
.info-box-layout-2 .info-icon, .info-box-layout-3{
    margin: 0 auto 20px;
}
.info-box .info__title{
    font-size: 17px;
    margin-bottom: 0;
}
#login.social-profile li a{
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 25px;
} 
button.chatbox-open, button.chatbox-close {
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
}

button.chatbox-open {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background-color: #0360a5;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 16px;
}

button.chatbox-close {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background-color: #0360a5;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    margin: 16px calc(2 * 16px + 52px) 16px 16px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: calc(16px + 16px / 2);
    padding: 0 calc(16px / 2);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    background-color: none;
    border: 0;
    outline: 0 !important;
    resize: none;
    overflow: hidden;
}

textarea::placeholder {
    color: #888;
}

.chatbox-popup {
    display: flex;
    position: fixed;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    bottom: calc(2 * 16px + 52px);
    right: 16px;
    width: 377px;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
    z-index: 999999;
}

.chatbox-popup .chatbox-popup__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #0360a5;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
    margin-top: -32px;
    background-color: #0360a5;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.chatbox-popup .chatbox-popup__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
}

.chatbox-popup .chatbox-popup__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.chatbox-panel {
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 377px;
    background-color: #fff;
}

.chatbox-panel .chatbox-panel__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #0360a5;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}

.chatbox-panel .chatbox-panel__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
    flex: 1 1 auto;
}

.chatbox-panel .chatbox-panel__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}
    