{% extends 'front/blog/layout.html.twig' %}

{% block breadcrumb_blog_area %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">Résultat de recherche</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
            <li>Blog</li>
        {% endblock %}
    {% endembed %}  
{% endblock %}

{% block articles %}
    {% for article in articles %}
        <div class="col-lg-4 responsive-column">
            {% include "front/partials/blog/article.html.twig" with {"article" : article} %}
        </div>
    {% endfor %}
{% endblock %}

{% block paginator_blog %}
    {% do articles.setPageRange(4) %}
    {{ knp_pagination_render(articles, 'front/partials/pagination.html.twig') }}              
{% endblock %}